.page-header
  %h1
    = @chat_room.title
.row
  .col-md-10
    #messages{'data-chat-room-id': @chat_room.id}
      = render @chat_room.messages
.row
  .col-sm-8.col-sm-offset-2
    = form_for Message.new, url: '#', html: {class: 'form'} do |f|
      .form-group
        = f.text_area :body, placeholder: 'Type message...', class: 'form-control', rows: 5
        %small.text-muted From 2 to 1000 characters
      = f.submit 'Post message', class: 'btn btn-primary btn-lg'
