.page-header
  %h1 Events
.row
  - @users.to_a.each do |user|
    .col-sm-12
      .list-group
        = link_to user.email, '#'
        = link_to 'Navigation', '#'
        = link_to 'Sign in', user_sign_in_path(user)
        = link_to 'Sign out', user_sign_out_path(user)
        = link_to 'Likes', user_likes_path(user)
        = link_to 'Comments', user_comments_path(user)