.page-header
  %h1 #{@user.email} comments
%table.table
  %thead
    %tr
      %th №
      %th Image
      %th Comment
      %th Time
  %tbody
    - @user.comments.each_with_index do |comment, i|
      %tr
        %td= i + 1
        %td= link_to comment.image.title, image_path(comment.image)
        %td.card-text
          = comment.body
        %td= local_datetime(comment.created_at)
