=render 'layouts/signed_in'
%h1 Categories
.row-fluid
  .span9
    - @categories.to_a.each do |category|
      - if category.images.any?
        = link_to image_tag(category.images.first.picture.url(:thumb), alt: category.name), category
      - else
        = link_to image_tag('empty-folder.png', alt: category.name), category
      -#= link_to 'Delete', category, method: :delete, data: { confirm: 'You sure?' }
%br
= form_for :category, method: :post do |f|
  = f.label :new_category
  %br
  = f.text_field :name, placeholder: 'Enter category name'
  %br
  .actions
    = f.submit 'Create', class: 'btn btn-large btn-info'