.page-header
  %h1 Categories
.row
  - @categories.to_a.each do |category|
    .col-lg-2
      .delete-icon
        = link_to category, method: :delete, 'data-toggle' => 'tooltip', :title => 'Delete', data: { confirm: 'You sure?' } do
          %span.glyphicon.glyphicon-trash
      .overlay
        %h3
          %strong= category.name
      - if category.images.any?
        = link_to image_tag(category.images.sample.picture.url(:thumb), alt: category.name), category
      - else
        = link_to image_tag('empty-folder.png', alt: category.name), category
%button.btn-lg{'data-target' => '#myModal', 'data-toggle' => 'modal', type: 'button'} Create new category
#myModal.modal.fade{role: 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', type: 'button'} ×
        %h3.modal-title New category
      .modal-body
        = render 'new_category_form'