=render 'layouts/signed_in'
%h1 Categories
%table
  %tbody
    - @categories.to_a.each do |category|
      %tr
        %td= link_to category.name, category
        %td= link_to 'Delete', category, method: :delete, data: { confirm: 'You sure?' }
= form_for :category, method: :post do |f|
  = f.label :new_category, class: 'default'
  %br
  = f.text_field :name, placeholder: 'Enter category name'
  %br
  = f.submit 'Create', class: 'btn btn-large btn-info'