<div class="alert alert-info"><%= notice %></div>
<div class="alert alert-warning"><%= alert %></div>

<div id="user_nav">
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %>
  <% end %>
</div>

<h1>Categories</h1>
<table>
  <thead>
  <tr>
    <th>Category id</th>
    <th>Category name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'You sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= form_for :category, method: :post do |f| %>
    <%= f.label :new_category %>
    <%= f.text_field :name %>
    <%= f.submit 'Create' %>
<% end %>