= javascript_include_tag 'images.js'

%h1= @category.name.upcase
= link_to root_path do
  %span.glyphicon.glyphicon-chevron-left
%br
- if @images.present?
  = paginate @images
  .row
    - @images.to_a.each do |image|
      .col-lg-2
        .delete-icon
          = link_to image, method: :delete, data: { confirm: 'You sure?' } do
            %span.glyphicon.glyphicon-trash
        = link_to (image_tag image.picture.url(:thumb)), image_path(image)


%input#category{ name: 'category[id][]', value: @category.id, type: 'hidden' }
%input{ name: 'category_id[]', value: @category.id, type: 'hidden' }
%input{ multiple: 'multiple', id: 'image_picture', type: 'file' }

  .template.output
    %img{ style: 'width:200px; height: 200px; padding-left: 10px;' }
    %input{ class: 'image_title', type: 'text', name: 'title' }
  %input{ name: 'commit', value: 'Save', class: 'btn-default btn-lg', type: 'submit' }
  %span.glyphicon.glyphicon-upload