- provide(:title, @category.name.upcase)
%h1= @category.name.upcase
%td= link_to 'Back', root_path
= form_for :image, method: :post, url: category_images_path(@category).to_s do |f|
  = f.label  'Add more files'
  = f.file_field :picture, multiple: true
  = f.submit 'Upload'
= paginate @images
%table
  %tbody
    - @images.each do |image|
      %tr
        %td= image.title
        %td= image_tag image.picture.url(:thumb).to_s
        %td= link_to 'Show', image
= paginate @images