.page-header
  %h1 Images
- if @images.present?
  = paginate @images
.row
  - @images.to_a.each do |image|
    .col-lg-2
      #like_or_unlike
        - if current_user.likes?(image)
          = link_to '#' do
            %span.glyphicon.glyphicon-heart
        - else
          = link_to '#' do
            %span.glyphicon.glyphicon-heart-empty
        .likes_count
          = image.likes.size
      %br
      = link_to (image_tag image.picture.url(:thumb), data: { toggle: 'tooltip', placement: 'bottom' }, :title => image.title), image_path(image)