.row
  .col-md-6.col-md-offset-3
    = form_for [:category, @image], html: { class: 'form' } do |f|
      .form-group
        = f.text_field :title, placeholder: 'Enter image title', class: 'form-control'
      .form-group
        = f.label :picture, data: { toggle: 'tooltip' }, title: 'Choose file' do
          %span.glyphicon.glyphicon-cloud-upload
        = f.file_field :picture
        = f.submit 'Upload', class: 'btn btn-primary'