.page-header
  .image-title
    %h1= @image.title
.row
  .col-sm-1
    .back-icon
      = link_to category_path(@image.category_id), 'data-toggle' => 'tooltip', :title => 'Back' do
        %span.glyphicon.glyphicon-chevron-left
  .col-sm-1
    .edit-icon
      = link_to edit_image_path, 'data-toggle' => 'tooltip', :title => 'Edit' do
        %span.glyphicon.glyphicon-edit
  .col-sm-1
    .delete_icon
      = link_to @image, method: :delete, 'data-toggle' => 'tooltip', :title => 'Delete', data: { confirm: 'You sure?' } do
        %span.glyphicon.glyphicon-trash
  -#.col-sm-1
  -#  .likes
  -#    - if current_user.like?(@image)
  -#      = link_to 'Dislike', image_like_path(@image.id), method: :delete
  -#    - else
  -#      = link_to 'Like', image_like_path(@image.id), method: :post
  -#    = @image.likes.count

.full-image
  %center= image_tag @image.picture.url
%h3 Comments
%ol.comments{ 'data-image-id': @image.id }
  - @image.comments.to_a.each do |comment|
    .row
      .col-lg-4
        %li
          %h4.content
            = link_to comment.user.first_name, '#'
            = comment.body
          %span.timestamp
            Commented #{ time_ago_in_words(comment.created_at) } ago.
          - if comment.user == current_user
            = link_to 'Delete', image_comment_path(comment.image, comment), method: :delete, class: 'delete', data: { confirm: 'You sure?' }
.row
  .comment-form
    = render 'comments/new_comment_form'


%li.template.result
  %h4.content
    %a.user{href: '#'}
    .body
  %span.timestamp
  = link_to 'Delete', '#' , method: :delete, data: { confirm: 'You sure?' }, class: 'delete'