.page-header
  %h1
    = @image.title
.row
  .col-sm-1
    .back-icon
      = link_to category_path(@image.category_id), 'data-toggle' => 'tooltip', :title => 'Back' do
        %span.glyphicon.glyphicon-chevron-left
  .col-sm-1
    .edit-icon
      = link_to edit_image_path, 'data-toggle' => 'tooltip', :title => 'Edit' do
        %span.glyphicon.glyphicon-edit
  .col-sm-1
    .delete_icon
      = link_to @image, method: :delete, 'data-toggle' => 'tooltip', :title => 'Delete', data: { confirm: 'You sure?' } do
        %span.glyphicon.glyphicon-trash
  .col-sm-2
    #like_or_unlike
      - if current_user.liked?(@image)
        = link_to '#' do
          %span.glyphicon.glyphicon-heart
      - else
        = link_to '#' do
          %span.glyphicon.glyphicon-heart-empty
      .likes_count
        = @image.likes.size
%center
  .full-image
    = link_to(image_tag(@image.picture.url(:thumb), alt: 'Image'), @image.picture.url) if @image.picture?
%h2
  Comments
.row
  .col-sm-8
    #comments{ 'data-image-id': @image.id }
      = render @image.comments
.row
  .col-sm-8
    = render 'comments/new_comment_form'