%h1= @image.title
%table
  %tbody
    %tr
      %td= image_tag @image.picture.url
      %td= link_to 'Back', category_path(@image.category_id)
      %td= link_to 'Edit', edit_image_path
      %td= link_to 'Delete', @image, method: :delete, data: { confirm: 'You sure?' }