.page-header
  %h1
    = @image.title
.row
  .col-sm-1
    .back-icon
      = link_to category_path(@image.category_id), 'data-toggle' => 'tooltip', :title => 'Back' do
        %span.glyphicon.glyphicon-chevron-left
  .col-sm-1
    .edit-icon
      = link_to edit_image_path, 'data-toggle' => 'tooltip', :title => 'Edit' do
        %span.glyphicon.glyphicon-edit
  .col-sm-1
    .delete_icon
      = link_to @image, method: :delete, 'data-toggle' => 'tooltip', :title => 'Delete', data: { confirm: 'You sure?' } do
        %span.glyphicon.glyphicon-trash
  -#.col-sm-1
  -#  #likes{ 'data-image-id': @image.id }
  -#    = render @image.likes
.full-image
  %center
    = image_tag @image.picture.url
%h3
  Comments
.row
  .col-sm-12
    #comments{ 'data-image-id': @image.id }
      = render @image.comments
.row
  .col-sm-8
    = render 'comments/new_comment_form'