%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to 'Gallery', root_path, class: 'navbar-brand'
      %button.navbar-toggle.collapsed{aria: {expanded: 'false'}, data: {target: '#bs-example-navbar-collapse-1', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Images', images_path
        %li
          = link_to 'Comments', comments_path
        %li
          = link_to 'Events', events_path
        %li.dropdown
          %a.dropdown-toggle{aria: {expanded: 'false', haspopup: 'true'}, data: {toggle: 'dropdown'}, href: '#',
                             role: 'button'}
            Chat rooms
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'All chat rooms', chat_rooms_path
            %li.divider{role: 'separator'}
            %li
              = link_to 'New chat room', new_chat_room_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to "#{current_user.full_name}", edit_user_registration_path
          %li
            = link_to destroy_user_session_path, method: :delete do
              %span.glyphicon.glyphicon-log-out
              Sign Out
        - else
          %li
            = link_to new_user_registration_path do
              %span.glyphicon.glyphicon-log-in
              Sign Up
          %li
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Login
