!!!
%html
  %head
    = favicon_link_tag 'ror.png'
    %title Gallery-App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ href: '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css', rel: 'stylesheet'}/
  %body
    = render 'layouts/header'
    .container
      = bootstrap_flash
      = yield
    = render 'layouts/footer'
