!!!
%html
  %head
    = favicon_link_tag 'ror.png'
    %title Like App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/header'
    .container
      = bootstrap_flash
      = yield
    = render 'layouts/footer'